<div class="container form-container">
  <div class="mb-3">
    <form action="/answer" method="get" data-turbo="false">
      <input type="text" name="question">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
